@font-face {
    font-family: "ClockioFont";
    src: url("dev/danipraivet/fuente/fuente.ttf");
}

.root {
    -fx-font-family: "ClockioFont";
    -fx-font-size: 14px;
    -fx-font-smoothing-type: lcd;
}
